@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

button{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100px;
 width: 200px;
 border-radius: 20px;
 background-color: #ff000f;
 transition: 0.3s ease-out;
 background: none;
 font-size: 1.2rem;
 font-family: "Cedarville Cursive", serif;
}

button:hover{
    background-color: green;
    transform: scale(1.2);
}

h2 {
  display: inline-block; /* Allows transform to work properly */
  animation: spin 5s linear infinite; /* Apply the animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); } /* Start at 0 degrees */
  100% { transform: rotate(360deg); } /* End at 360 degrees */
}

body{
background-color: coral;
}
